# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.classpath
.project
.settings/*
bin/*

# gradle parts we do not want to include.
gradle/*
gradlew
gradlew.bat

# remove all VSCode stuff.
.vscode/*

# random debugging files.
log

# Android remnants.
libplctag4j-aar/.cxx/*
external_src/*
external_zips/*

# native libs
libplctag4j-jar/src/main/resources/linux-x86-64
libplctag4j-jar/src/main/resources/linux-x86
libplctag4j-jar/src/main/resources/win32-x86-64
libplctag4j-jar/src/main/resources/win32-x86
libplctag4j-jar/src/main/resources/darwin

