name: libplctag4j Prerelease CI

on:
  push:
    branches: [ prerelease ]
  pull_request:
    branches: [ prerelease ]

jobs:

  ubuntu-test:
    name: Ubuntu Test
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Build Release JAR
      run: gradle -b build-jar.gradle clean shadowJar

    - name: Build Release AAR
      run: gradle -b build-aar.gradle clean assembleRelease

    - name: Test Release JAR
      run: gradle -b build-jar.gradle test --stacktrace --info

  macos-test:
    name: macOS Test
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Build Release JAR
      run: gradle -b build-jar.gradle clean shadowJar

    - name: Test Release JAR
      run: gradle -b build-jar.gradle test --stacktrace --info

  windows-test:
    name: Windows Test
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Build Release JAR
      run: gradle -b build-jar.gradle clean shadowJar

    - name: Test Release JAR
      run: gradle -b build-jar.gradle test --stacktrace --info
